<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>Ínicio</title>
	</head>
	
	<body>
	
	
		<h1>Lista de funcionários</h1>	
		
		<table border="1" cellpadding="10">
		
			<thead>
				<tr>
					<th>Número de registro</th>
					<th>Nome</th>
					<th>Idade</th>
					<th>Salário</th>
					<th>E-mail</th>
					<th>Ações</th>																									
				</tr>
			</thead>		
		
			<tbody>

	        	<tr th:each="funcionario : ${listaDeFuncionarios}"> 
	        	
	                <td th:text="${funcionario.id}"></td>
	                <td th:text="${funcionario.nome}"></td>
	                <td th:text="${funcionario.idade}"></td>
	                <td th:text="${funcionario.salario}"></td>
	                <td th:text="${funcionario.email}"></td>
	                	                
	            </tr>
							
			</tbody>		
		
		
		</table>
		
	
	</body>
	
</html>